#sectionTitle {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

#inputField {
  margin: 1.2rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

#inputText {
  padding: 0.8rem;
}
